// Override Bulma variables
// see: http://bulma.io/documentation/overview/variables/

$primary: #00BCD4;       // In canvas, primary (background/outline) color for elements and links
$primary-light: #B2EBF2; // 
$primary-lighter: #E0F7FA; // 
$grey-dark: #404040;     // In canvas, used as primary textcolor / a:hover
$grey-light: #808080;    // In canvas, used as secondary textcolor
$grey-lighter: #F0F0F0;



// Black
$black: #202020;








